*{
  padding: 0;
  margin: 0;
font-family: "Edu NSW ACT Foundation", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.fundo{
    background-image: url(Images/image0_0.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #313131;
}

.logos{
    align-items: center;
    text-align: center;
    background: rgba(120, 120, 120, 0.4);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 20px;
}

.logos img{
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.titulo{
    padding-left: 100px;
}

h1{
    font-size: 100px;
    margin-top: 10px;
    color: aliceblue;
    width: 550px;
    height: 160px;

}

h2{
    margin-top: 50px;
    color: aliceblue;
    font-size: 50px;
}

.itens{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img{
    padding-right: 30px;
    padding-top: 300px;
}

.img img{
    width: 750px;
    height: 400px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    border: 10px solid ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.4);
    transition: 0.2s ease-in-out;

}


.description{
    color: aliceblue;
    font-size: 30px;
    padding-left: 50px;

}

.description p span{
    color: red;
}

.app{
    padding-right: 50px;
    align-items: center;
    text-align: center;
}

.back{
    display: flex;
    padding-top: 450px;
}

.card {
    max-width: 350px;
    background-color: rgb(7 16 45);
    background: linear-gradient(to top right, rgb(7 16 45), rgb(58 60 84));
    background: -webkit-linear-gradient(to top right, rgb(7 16 45), rgb(58 60 84));
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgb(84 90 106);
  }
  
  .small-text, .title,.desc {
    font-weight: 600;
  }
  
  .title,.desc {
    margin: 8px 0;
  }
  
  .small-text {
    color: #488aec;
    font-size: 14px;
  }
  
  .title {
    color: #fff;
    font-size: 26px;
    line-height: 26px;
  }
  
  .desc {
    color: rgb(151 153 167);
    font-size: 13px;
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 6px;
    text-decoration: none;
  }
  
  .button:first-child {
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    background-color: #488aec;
  }
  
  .button:last-child {
    box-shadow: 0 4px 6px -1px #0b162531, 0 2px 4px -1px #0e192b17;
    background-color: #fff;
  }
  
  .icon {
    height: 25px;
    width: 25px;
  }
  
  .icon svg {
    width: 100%;
    height: 100%;
  }
  
  .icon svg:last-child {
    fill: #000
  }
  
  .button-text {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
  }
  
  .button-text span:first-child {
    font-size: 12px;
    font-weight: 600;
  }
  
  .google span:first-child {
    color: rgb(219 206 253);
  }
  
  .apple span:first-child {
    color: rgb(81 87 108);
  }
  
  .google span:last-child {
    color: #fff;
    font-weight: 800;
  }
  
  .apple span:last-child {
    color: #000;
    font-weight: 800;
  }

.final{
    margin-top: 250px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.produto{
    align-items: center;
}

.produto p{
    color: aliceblue;
    font-size: 40px;
    text-align: center;
}

.produto img{
    border-radius: 20px;
}

.contact-form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
  }
  
  .contact-form label {
    color: black;
  }
  
  .contact-form .heading {
    font-size: 24px;
    color: black;
    ;
    margin-bottom: 12px;
    font-weight: bold;
    display: block;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 10px;
  }
  
  textarea {
    resize: none;
    height: 80px;
    width: 380px;
  }
  
  .contact-form input, .contact-form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #000000;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  
  .contact-form button[type="submit"] {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .contact-form button[type="submit"]:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  

footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 50px;
}

@media screen and (max-width: 768px){
    .fundo{
        display: block;
        margin: 0;
        padding: 0;
        background: #313131;
        align-items: center;
        justify-content: center;
    }
    .titulo{
      padding: 0;
      margin: 0 auto;
    }
    .itens{
        display: block;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    main .itens.logos{
        margin: 0;
        padding: 0;
        width: 100vw;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .logos img{
      width: 30%;
    }
    main .itens .img{
        margin: 0;
        padding: 10px 0px;
        width: 95%;
    }
    .img img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .titulo h1{
        width: 50vw;
        text-align: center;
        font-size: 50px;
    }
    .titulo h2{
        font-size: 30px;
        padding: 0 20px;
    }
    .back{
        margin: 0;
        padding: 0;
        display: block;
    }
    .description{
        
        padding: 40px 20px;
        font-size: 20px;
    }
    .back.card{
        align-items: center;
        justify-content: center;
    }
    .final{
        margin: 0;
        padding: 0;
        display: block;
    }
    .produto{
        padding-top: 150px;
        padding-bottom: 150px;
        width: 100vw;
    }
    .produto img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .contact-form{
        width: inherit;
        display: flex;
        flex-direction: column;

    }
    textarea{
      width: inherit;
    }
    .app{
      width: 100%;
      padding: 0;
    }

}